<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link href="css/styles.css" rel="stylesheet"> 

   </head> 
   <div id="container">
      <img id="sorvete" src="sorvete.png" alt="sorvete.png">
      <main>
         <body>
         <h1>Bem vindo ao Manual Do Sorvetin!!</h1>
               
         <p>Vou te ensinar como você vai fazer este delicioso e cremoso Sorvetin 🍧</p>
   </div>
               
         <div id="containersorvetin">
               <details>
                  <summary>Ingredientes</summary>
                  <ul>
                     <li>1 lata de leite condensado</li> 
                     <li>1 lata de creme de leite</li>  
                     <li>1 gelatina de qualquer sabor</li> 
                  </ul>
         </details>
         </div>
         <div id="containersorvetin">
         <details>
            <summary>Modo de Preparo</summary>
            
            <p>
               Faça a gelatina normalmente e não leve à geladeira.
               <br>
               Depois que pronta, ainda quente, coloque no liquidificador junto com o leite condensado e o creme de leite.
               <br>             
               Bata bem.
               <br>
               Depois leve ao congelador em um refratário tampado para não formar blocos de gelo.
               <br>
               Depois de congelado, retire do congelador e bata na batedeira para ficar cremoso.
               <br>
               Volte para o congelador.
               <br>
               Está pronto, um sorvete fácil, prático e gostoso.
            </p>
         </details>
      </div>   
   </body>
</main>
</html>

